<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Optical Simulation</title>
</head>
<body>
    <h1>Optical Simulation</h1>
    <form id="simulationForm">
        <!-- Input fields for simulation parameters -->
        <p><label for="z">Distance :</label>
        <input type="text" id="z" name="z" required></p>

        <p></p><label for="grid">Grid :</label>
        <input type="text" id="grid" name="grid" required></p>

        <p></p><label for="wl">Wave Length :</label>
        <input type="text" id="wl" name="wl" required></p>

        <!-- Add more input fields as needed -->

        <button type="button" onclick="runSimulation()">Run Simulation</button>
    </form>

    <!-- <div id="simulationResult"></div>
    <img id="simulationImage"> -->

    <div id="simulationResult">
        <p>Simulation Result: </p>
        <img id="simulationImage">
    </div>
    

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
